/*
General Layout: 2% boarder from top
Main Body: 64% wide, 5% from the top, 60% height, 




*/

body {
    background-color: black;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}
/*Clock Block*/
.Clock {
    display: flex;
    position: absolute;
    top: 2%;
    width: 18%;
    height: 10%;
    left: 0%;
    font-size: 4em;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #61dafb;
    font-family: "Roboto Mono", monospace;
}

/*Large main console*/
.App-header {
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translateX(-50%);
    width: 64%;
    background-color: black;
    border: 1px solid white;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
